<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <!-- normalize.css CDN -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- skeleton.css CDN -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/normalize.css"/>
    <link rel="stylesheet" href="/static/skeleton.css"/>

    <title>Document</title>
</head>

<body>
    <style>
    
        body {
            text-align: center;
        }
    
    </style>

    <body><br>
        <a href="/pokemon/">Back to Pokedex</a> <br><br>
    
        <div class="container">
            <h1>Add new Pokemon</h1>
            <form action="/pokemon" method="post">
                <input type="text" name="name" placeholder="Pokemon Name" /> <br><br>
                <input type="text" name="type[]" placeholder="Type" /> <br><br>
                <input type="text" name="id" placeholder="Id" /> <br><br>
                <input type="url" name="img" placeholder="Pokemon Image" /> <br><br>

                <h4>Stats: </h4>

                <input type="text" name="stats[hp]" placeholder="hp"/> <br><br>
                <input type="text" name="stats[attack]" placeholder="attack"/> <br><br>
                <input type="text" name="stats[defense]" placeholder="defense"/> <br><br>
                <input type="text" name="stats[spattack]" placeholder="spattack"/> <br><br>
                <input type="text" name="stats[spdefense]" placeholder="spdefense"/> <br><br>
                <input type="text" name="stats[speed]" placeholder="speed"/> <br><br>
        
                <br/><br>
                <input type="submit" value="Create Pokemon">
            </form>
            </div>
        
    </body>

</body>
</html>